<div class="col-lg-4 col-md-6 portfolio-item isotope-item {{ filter_class }}">
    <div class="portfolio-content h-100">
        {% include "@atoms/images/image/_image.twig" with {
            image_src: img_src,
            image_alt: title
        }%}
      <div class="portfolio-info">
        {% include "@atoms/text/headings/_heading.twig" with {
            'heading': title,
            'heading_level': '4',
        } %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
            'paragraph_content': description
        } %} 

        <a href="{{ img_src }}" title="{{ title }}" data-gallery="portfolio-gallery-{{gallery_class}}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i>
          </a>
        <a href="{{ details_link }}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
      </div>
    </div>
  </div>